html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  justify-content: center;
  align-items: flex-start;

  margin-top: 2em;
}

.graphWindow {
  border: 2px solid black;
  height: 100%;
}
.samplesWindow {
  border: 2px solid black;
  overflow: scroll;
}
.container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.grammarContainer {
  width:100vw;
  height:50vh;
  margin: auto;
}
.grammarAxiom {
  float: right;
  width: 50%;
  height: 90%;
}
.grammarAlphabet {
  float: left;
  width: 49%;
  height: 100%;
}

.rule {
  height: 50vh;
  max-height: 50vh;
}
.gridElement {
  height: 40vh;
  width: 35vw;
}
.content {
  flexgrow: 1;
  height: 80vh;
  width: 80vw;
}

.left {
  float: "left";
}

.right {
  float: "right";
}

.lhs {
  bottom: 10px;
  right: 20px;
}
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.sample {
  height: 100%;
  width: 100%;
}

.addAlphabet {
  margin: auto;
  width: 100%;
  padding: 10px;
}
.alphabetView {
  height: 100%;
  display:flex;
  flex-wrap: wrap;
  border: 2px solid black;
  overflow: scroll;
  
}
